name: Run Python Test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Az CLI login Test
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.WEBAPP_CLIENT_ID }}
        tenant-id: ${{ vars.AZURE_TENANT_ID }}
        subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt  # Install your dependencies

    - name: Run pytest
      run: |
        pytest  # Run your tests