name: Run Python Test

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt  # Install your dependencies

    - name: Run pytest
      run: |
        pytest  # Run your tests